* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

header{
    background-color: black;
    height: 5em;
}

h1{
    color: white;
    font-size: 2em;
}

h1 > span{
    color: blue;
}

main{
    margin: 10px auto;
    width: 90%;
}

.studentForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.addButton{
    width: 30px;
    height: 30px;
}

.studentSubmit{
    width: 125px;
    height: 30px;
}

.hidden{
    display: none;
}

.studentList{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border: 3px solid black;
}

.studentList__head{
    display: flex;
    justify-content: space-around;
}

.studentList__content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.studentList__info{
    display: flex;
    justify-content: space-around;

    background-color: black;
    color: white;
    
    cursor: pointer;
}


footer{
    background-color: black;
    height: 5em;
}