* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: black;
    height: 5em;
}

h1{
    color: white;
    font-size: 2em;
}

h1 > span{
    color: rgb(83, 83, 190);
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal{
    max-width: 600px;
    height: 300px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px auto;
    width: 90%;
}

.studentForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.addButton{
    width: 30px;
    height: 30px;
    background-color: rgb(83, 83, 190);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.submitButton{
    width: 125px;
    height: 30px;
    background-color: rgb(83, 83, 190);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(64, 64, 199);
    color: rgb(245, 231, 231);
}

.hidden{
    display: none;
}

.studentList{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border: 3px solid black;
}

.studentList__head{
    display: flex;
    justify-content: space-around;
}

.studentList__content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.studentList__info{
    display: flex;
    justify-content: space-around;

    background-color: black;
    color: white;
    
    cursor: pointer;
}

.studentSubjectForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.subjectList{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border: 3px solid black;
}

.subjectList__head{
    display: flex;
    justify-content: space-around;
}

.subjectList__content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.subjectList__info{
    display: flex;
    justify-content: space-around;

    background-color: black;
    color: white;
    
    cursor: pointer;
}

.sortBtn{
    width: 125px;
    height: 25px;
    background-color: rgb(83, 83, 190);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 5em;
    width: 100%;
    font-weight: bold;
}

footer > span{
    color: white;
}

footer > span > a{
    color: rgb(83, 83, 190);
    text-decoration: none;
}